/* Contents styles. */
main {
    pointer-events: none;
    overflow: hidden;
    display: flex;
    height: 100vh;
    -webkit-app-region: drag;
}

/* Cell styles. */
main>div {
    background: url(../assets/bg.png) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

main>div:last-child {
    /* box-shadow: 0 0 5px white inset; */
    border: 3px solid white;
}

img {
    height: 80%;
    max-height: 80%;
    max-width: 80%;
}