body {
    margin-top: 0;
}

/* Contents styles. */
main {
    pointer-events: none;
    overflow: hidden;
    display: flex;
    height: 100vh;
    -webkit-app-region: drag;
}

/* Cell styles. */
main > div {
    background: url(../assets/bg.png) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

main > div:last-child::after {
    content: '';
    position: absolute;
    top: 0;
    width: inherit;
    margin-top: -3px;
    transform: scale(0.9);
    height: 100%;
    border: 3px solid white;
    border-radius: 7px !important;
}

img {
    height: 95%;
    width: 95%;
    object-fit: contain;
    max-height: 95%;
    max-width: 95%;
}

main > div > div > img {
    height: 100%;
    width: auto;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    margin-left: 5px;
}

main > div > div {
    height: 50%;
    width: inherit;
    bottom: 5px;
    max-height: 50%;
    max-width: 50%;
    margin-left: 9%;
    object-fit: contain;
    display: block !important;
    position: absolute;
    z-index: 100;
}
