/* Contents styles. */
main {
    pointer-events: none;
    overflow: hidden;
    margin: 5px;
    display: flex;
    height: calc(100vh - 10px);
    -webkit-app-region: drag;
}

/* Cell styles. */
main>div {
    background: url(../assets/bg.png) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

main>div:last-child {
    box-shadow: 0 0 5px white inset;
}

img {
    height: 80%;
}

/* Make the HTML mount transparent. */
body {
    background: transparent;
}