/* Page header styles. */
div[header] {
    margin: 15px 0;
    font-size: 18px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    user-select: none;
}

/* Content styles. */
div[bars] {
    margin-bottom: 40px;
}

/* Keybind styles. */
div[bars]>div {
    display: flex;
    padding: 5px;
    align-items: center;
}

/* Input styles. */
div[bars]>div input {
    border: 0;
    border-radius: 3px;
    padding: 1px 5px;
    height: 22px;
    width: 160px;
    background: var(--elements);
    color: var(--color);
}

div[bars]>div input {
    margin: 0 5px;
}

/* Action styles. */
div[remove],
div[edit],
div[button],
div[save],
div[cancel] {
    border-radius: 3px;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 7px 4px 7px;
    min-width: 12px;
    margin: 0 5px;
    line-height: 1;
    background: var(--elements);
    color: var(--color);
    cursor: pointer;
}

div[button]:not([save]) {
    background: var(--blue);
}

div[remove] {
    background: var(--red);
}

div[edit] {
    background: var(--yellow);
}

div[saveMod] {
    display: none;
    background: var(--green);
}

div[cancel] {
    display: none;
    background: var(--blue);
}

div[hide] {
    opacity: 0;
}

div.global {
    pointer-events: none;
    opacity: 0.5;
}

div[buttons] {
    display: flex;
    margin-right: auto;
}

/* Input box error styles. */
div.error input {
    background: #F04747 !important;
}

div.error input::placeholder {
    color: var(--color) !important;
}

div[bars]>div input:focus {
    outline: none;
}

p {
    margin-block-end: 0;
    margin-block-start: 0;
    padding: 3px;
    white-space: nowrap;
    font-size: 12px;
    user-select: none;
}

p:after {
    content: attr(data-after);
    margin-left: 2px;
}

/* Disabled divs. */
div[disabled] {
    opacity: 0.5;
    user-select: none !important;
    pointer-events: none;
}

div[bar]:before {
    content: attr(id);
    pointer-events: auto;
    position: absolute;
    font-size: 9px;
    margin: -10px 10px;
    padding: 2px 5px;
    background: var(--background);
    border-radius: 3px;
    opacity: 0;
    transition-duration: 0.5s;
    margin-top: -14px;
    pointer-events: none;
}

div[bar]:hover:before,
div.global > div[bar]:before {
    opacity: 1;
    margin-top: -10px;
}

/* Notification styles. */

div[notify] {
    position: fixed;
    z-index: 1;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, 0);
    display: block !important;
    max-height: 80px;
    overflow: scroll;
}

div[notify]>div {
    white-space: nowrap;
    display: flex !important;
    background: #43B581;
    display: block;
    margin: 5px 0;
    border-radius: 3px;
    animation: fadeIn 0.5s forwards;
    padding-right: 5px;
    align-items: center;
    line-height: 1;
    width: auto;
}

div[notify]>div>div {
    border-radius: 3px 0 0 3px;
    cursor: pointer;
    padding: 3px 7px 5px 7px;
    margin-right: 3px;
    background: var(--hover);
    font-weight: bold;
}

div[notify]>div>div:hover {
    background: #F04747BF;
}

div[notify]>div.deleted {
    animation: fadeOut 0.5s forwards;
}

div[notify]>div.failed {
    background: #F04747;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 0.9;
        transform: scale(1);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 0.9;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(0);
    }
}

/* Popup styles. */
div[popup] {
    transition-duration: 0.4s;
    transform: scale(0.7);
    opacity: 0;
    pointer-events: none;
    position: fixed;
    backdrop-filter: blur(10px);
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0;
    left: 0;
}

div[popup] div[mount] p {
    white-space: break-spaces;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

div[popup] div[mount] {
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -10px -30px;
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 250px;
    background: var(--color);
    color: var(--background);
    border-radius: 3px;
    filter: drop-shadow(0 0 5px var(--color));
}

div[popup] div[mount]>div {
    display: flex;
    position: absolute;
    bottom: -13px;
    right: 0;
}

hr {
    border: none;
    height: 2px;
    border-radius: 2px;
    background: var(--elements);
}