/* Page header styles. */
div[header] {
    margin: 15px 0;
    font-size: 18px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    user-select: none;
}

div.disable {
    opacity: 0.5;
    pointer-events: none;
}

/* Keybind styles. */
div[bars] > div {
    display: flex;
    padding: 5px;
    align-items: center;
}

/* Input styles. */
div[bars] > div input {
    border: 0;
    border-radius: 3px;
    padding: 1px 5px;
    height: 22px;
    width: 235px;
    background: var(--elements);
    color: var(--color);
    margin: 0 5px;
    transition-duration: 400ms;
}

div[bars] div:not([popup]) div[bar]:not(.edit) {
    opacity: 0.5;
    pointer-events: none;
}

div.new {
    opacity: 1 !important;
    pointer-events: auto !important;
}

div[bars] div.edit input {
    width: 160px;
    opacity: 1;
    pointer-events: auto;
}

/* Action styles. */
div[remove],
div[clear],
div[edit],
div[button],
div[save],
div[saveMod],
div[cancel] {
    border-radius: 3px;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 7px 4px 7px;
    min-width: 12px;
    margin: 0 5px;
    line-height: 1;
    background: var(--elements);
    color: var(--color);
    cursor: pointer;
}

div[manage] {
    margin-bottom: 50px;
}

div[clear] {
    background: var(--blue);
    font-size: 12px;
    padding: 5.5px 7px;
    text-shadow: 0.5px 0.5px black;
}

div[clear]:not(.active),
div[order]:not(.active) {
    background: var(--elements);
}

body:not(#darwin) div[clear] {
    padding: 5.5px 5px;
}

input[search] {
    width: 287px !important;
}

div[button]:not([save]) {
    background: var(--blue);
}

div[remove] {
    background: var(--red);
}


div[save] {
    background: var(--green);
}

div[save].active {
    background: var(--elements);
    pointer-events: none;
}

div[edit] {
    background: var(--yellow);
    animation: show 400ms ease-in-out forwards;
}

div[saveMod] {
    display: none;
    background: var(--green);
    animation: show 400ms ease-in-out forwards;
}

div[cancel] {
    display: none;
    background: var(--blue);
    animation: show 400ms ease-in-out forwards;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

div[hide] {
    opacity: 0;
}

div.global {
    pointer-events: none;
}

div.global div[remove],
div.global div[buttons] {
    opacity: 0.5;
}

div.global div[buttons] div[disabled] {
    opacity: 1 !important;
}

div[buttons] {
    display: flex;
    margin-right: auto;
}

/* Input box error styles. */
div.error input {
    background: #f04747 !important;
}

div.error input::placeholder {
    color: var(--color) !important;
}

div[bars] > div input:focus {
    outline: none;
}

p {
    margin-block-end: 0;
    margin-block-start: 0;
    padding: 3px;
    white-space: nowrap;
    font-size: 12px;
    user-select: none;
}

p:after {
    content: attr(data-after);
    margin-left: 2px;
}

/* Disabled divs. */
div[disabled] {
    opacity: 0.5 !important;
    user-select: none !important;
    pointer-events: none;
}

div[bar]:before,
div[bar]:after {
    content: attr(id);
    pointer-events: auto;
    position: absolute;
    font-size: 9px;
    margin: -10px 10px;
    padding: 2px 5px;
    background: var(--background);
    border-radius: 3px;
    opacity: 0;
    transition-duration: 0.5s;
    margin-top: -14px;
    pointer-events: none;
}

div[bar]:after {
    content: attr(info);
    white-space: nowrap;
    margin-right: 58px !important;
    right: 0;
}

div[bar].edit:after {
    opacity: 0;
}

div[bar]:hover:before,
div[bar]:after,
div.global > div[bar]:before,
div.global > div[bar]:after {
    opacity: 1;
    margin-top: -10px;
}

/* Popup styles. */
div[popup] {
    transition-duration: 0.4s;
    transform: scale(0.7);
    opacity: 0;
    pointer-events: none;
    position: fixed;
    backdrop-filter: blur(6px);
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    top: 0;
    left: 0;
}

div[popup] div[mount] p {
    white-space: break-spaces;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

div[popup] div[mount] {
    position: fixed;
    top: 50%;
    left: 50%;
    min-height: 100px;
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 250px;
    background: var(--color);
    color: var(--background);
    border-radius: 3px;
    filter: drop-shadow(0 0 5px var(--color));
}

div[popup] div[mount] > div > div {
    display: flex;
    position: absolute;
    bottom: -13px;
    right: 0;
}

hr {
    border: none;
    height: 2px;
    background: var(--elements);
}

div[popup] div[button]:first-child {
    background: var(--red);
    margin-right: 75px;
    opacity: 1 !important;
    pointer-events: auto !important;
}

div[popup] div[button]:first-child:before,
div[popup] div[button]:first-child:after {
    display: none;
}

div[popup] div[button]:last-child {
    background: var(--blue);
}

div[popup] div[info] {
    margin: 0;
    display: block !important;
}
