@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
    --green: #43b581;
    --red: #f04747;
    --blue: #00a9ff;
}

/* Dark theme. */
@media (prefers-color-scheme: dark) {
    :root {
        --background: #1f1f1f;
        --color: #f1f1f1;
        --elements: #3f3f3f;
        --hover: #5f5f5f;
    }
}

/* Light theme. */
@media (prefers-color-scheme: light) {
    :root {
        --background: #f1f1f1;
        --color: #1f1f1f;
        --elements: #c0c0c0;
        --hover: #a9a9a9;
    }
}

/* Globally hide scrollbar. */
*::-webkit-scrollbar {
    display: none;
}

/* Page defaults. */
body {
    user-select: none;
    background: var(--background);
    font: 15px 'Ubuntu', system-ui;
    color: var(--color);
    margin: 33px 0 0 0;
}