/* Dark theme. */
@media (prefers-color-scheme: dark) {
    :root {
        --background: #1a1a1a;
        --color: #fefefe;
        --lvlup: rgb(0, 0, 0, 0.1);
    }
}

/* Light theme. */
@media (prefers-color-scheme: light) {
    :root {
        --background: #fefefe;
        --color: #1a1a1a;
        --lvlup: rgb(255, 255, 255, 0.1);
    }
}

* {
    font: 15px system-ui;
}

body {
    background: var(--background);
    color: var(--color);
    margin: 0;
    padding: 0;
}