/* Dark theme. */
@media (prefers-color-scheme: dark) {
    :root {
        --background: #1a1a1a;
        --color: #fefefe;
        --lvlup: rgb(0, 0, 0, 0.1);
    }
}

/* Light theme. */
@media (prefers-color-scheme: light) {
    :root {
        --background: #fefefe;
        --color: #1a1a1a;
        --lvlup: rgb(255, 255, 255, 0.1);
    }
}

* {
    font: 15px system-ui;
}

p {
    margin: 5px 5px;
}

body {
    background: var(--background);
    color: var(--color);
    margin: 0;
    padding: 0;
}

div[settings], div[keybinds], div[start] {
    text-align: center;
    border-radius: 3px;
    width: max-content;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 7px 5px 7px;
    margin: 5px 5px;
    line-height: 1;
    background: var(--color);
    color: var(--background);
    cursor: pointer;
    background: #3f3f3f;
    color: white;
}