@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
    --green: #43b581;
    --red: #f04747;
    --blue: #00a9ff;
}

/* Dark theme. */
@media (prefers-color-scheme: dark) {
    :root {
        --background: #1f1f1f;
        --color: #f1f1f1;
        --elements: #3f3f3f;
        --hover: #5f5f5f;
    }
}

/* Light theme. */
@media (prefers-color-scheme: light) {
    :root {
        --background: #f1f1f1;
        --color: #1f1f1f;
        --elements: #c0c0c0;
        --hover: #a9a9a9;
    }
}

/* Globally hide scrollbar. */
*::-webkit-scrollbar {
    display: none;
}

/* Page defaults. */
body {
    user-select: none;
    background: var(--background);
    font: 15px 'Ubuntu', system-ui;
    color: var(--color);
    margin: 33px 0 0 0;
}

nav {
    top: 0;
    position: fixed;
    width: 100vw;
    background: var(--elements);
    padding: 5px;
    text-align: center;
    -webkit-app-region: drag;
    font-weight: bold;
    user-select: none;
    display: flex;
}

#darwin nav {
    display: block;
}

nav div, nav p {
    margin: 0;
    -webkit-app-region: no-drag;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 17px;
    cursor: context-menu;
    user-select: none;
}

div[hide] p {
    transform: scale(2);
    margin-top: -5px;
}

div[hide]:hover {
    background: var(--hover);
}

div[exit]:hover {
    background: var(--red);
}

nav > div[window] {
    position: fixed;
    right: 25px;
}

div[window] > div {
    padding: 5px;
}