/* Page header styles. */
div[header] {
    margin: 15px 0;
    font-size: 18px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    user-select: none;
}

/* Content styles. */
div[keys] {
    margin-bottom: 40px;
}

/* Keybind styles. */
div[keys]>div {
    display: flex;
    padding: 5px 30px;
}

/* Input styles. */
div[keys]>div input {
    border: 0;
    margin: 0 auto;
    border-radius: 3px;
    padding: 1px 5px;
    height: 20px;
    width: 160px;
    background: var(--elements);
    color: var(--color);
}

div[keys]>div input:first-child {
    margin-left: 5px;
}

div[keys]>div input:first-child:focus {
    border-radius: 3px 3px 0 0;
}

div[keys]>div input:focus {
    outline: none;
}

/* Allow input styles to match. */
div[keys] div[ability] {
    display: flex;
}

div[ability]:after {
    content: '\276F';
    background: inherit;
    padding: 0 6px;

    border-radius: 0 5px 5px;
    margin: 1px 0 0 -21px;
    transform: rotate(90deg);
    color: var(--color);
}

div[ability] div[dropdown]:after {
    display: none;
}

/* Action styles. */
div[remove],
div[button] {
    border-radius: 3px;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 7px 4px 7px;
    min-width: 10px;
    margin: 0 5px;
    line-height: 1;
    background: var(--elements);
    color: var(--color);
    cursor: pointer;
}

/* Dropdown styles. */
div[dropdown] {
    font-size: 13px;
    display: none;
    position: absolute;
    z-index: 1;
    background-color: var(--elements);
    max-height: 135px;
    width: 150px;
    border-radius: 0 0 3px 3px;
    margin: 22px 5px;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    border-top: 1px solid var(--hover);
}

div[dropdown] div {
    white-space: nowrap;
    overflow-y: hidden;
    text-overflow: ellipsis;
    margin-block-end: 0;
    margin-block-start: 0;
    padding: 5px 0 5px 5px;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
}

div[dropdown] div:hover {
    background: var(--hover);
}

/* Input box error styles. */
input.error {
    background: #F04747BF !important;
}

input.error::placeholder {
    color: var(--color) !important;
}

/* Notification styles. */

div[notify] {
    position: fixed;
    z-index: 1;
    opacity: 0.9;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, 0);
    display: block !important;
    max-height: 80px;
    overflow: scroll;
}

div[notify]>div {
    white-space: nowrap;
    display: flex !important;
    background: #43B581;
    display: block;
    margin: 5px 0;
    border-radius: 3px;
    animation: fadeIn 0.5s forwards;
    padding-right: 5px;
    align-items: center;
    line-height: 1;
    width: auto;
}

div[notify]>div>div {
    border-radius: 3px 0 0 3px;
    cursor: pointer;
    padding: 3px 7px 5px 7px;
    margin-right: 3px;
    background: var(--hover);
    font-weight: bold;
}

div[notify]>div>div:hover {
    background: #F04747BF;
}

div[notify]>div.deleted {
    animation: fadeOut 0.5s forwards;
}

div[notify]>div.failed {
    background: #F04747;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 0.9;
        transform: scale(1);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 0.9;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(0);
    }
}