main {
    margin: 5px 5px 0 5px;
    display: block;
    height: calc(100vh - 33px);
}

main > div {
    margin-bottom: 10px;
}

/* Input styles. */
div[interact] {
    margin: 1px 0 0 5px;
}

div[interact] > div {
    margin-bottom: 5px;
}

div[interact] p {
    font-weight: bold;
    margin: 0;
    white-space: nowrap;
}

div[slider] p {
    padding-bottom: 15px;
}

input[type="range"] {
    width: calc(100% - 5px);
    -webkit-appearance: none;
    background: var(--green);
    border-radius: 2px;
    border: none;
    margin-bottom: 10px;
}

input[type="range"]::-webkit-slider-runnable-track {
    height: 5px;
    -webkit-appearance: none;
    margin-top: -1px;
}

input[type="range"]::-webkit-slider-thumb {
    width: 15px;
    -webkit-appearance: none;
    margin-top: -5px;
    height: 15px;
    overflow: visible;
    cursor: ew-resize;
    background: var(--elements);
    border-radius: 3px;
}

input[type="range"]:before {
    content: "4";
    position: absolute;
    margin: -22px 0 0 4px;
    color: var(--color);
}

input[type="range"]:after {
    content: "14";
    position: absolute;
    margin: -22px 9px 0 0;
    right: 0;
    color: var(--color);
}

div.disable {
    opacity: 0.5 !important;
    user-select: none !important;
    pointer-events: none;
}

/* div[config] {
    display: none !important;
} */

div#ability {
    background-color: var(--green) !important;
}

h2 {
    margin: 0 -5px;
    padding: 7px 0;
    border-radius: 3px 3px 0 0;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
    text-align: center;
    background: var(--elements);
}

div[buttons] > div:not(#ability) {
    margin: 0 -5px;
    padding: 0 5px 5px 5px;
    background: var(--elements);
    display: block;
}

div[buttons] div[actions] {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    background: var(--elements) !important;
    padding: 0;
    cursor: default;
}

div[buttons] div[actions] div {
    background: var(--background);
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background);
    border-radius: 3px;
    user-select: none;
    cursor: pointer;
    padding: 9.5px;
}

div[buttons] div[actions] div:hover {
    background: var(--hover);
}

div#open img {
    content: url(../assets/folder.png);
    height: 15px;
    width: 17px;
    transform: scale(1.5);
}