main {
    margin: 5px 5px 0 5px;
    display: block;
    height: calc(100vh - 33px);
}

main > div {
    margin-bottom: 10px;
}

div[buttons] > div {
    margin: 0 0 5px 0;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--elements);
    border-radius: 3px;
    user-select: none;
    cursor: pointer;
    padding: 9.5px;
}

#darwin div[buttons] > div:last-child {
    border-radius: 3px 3px 6px 6px;
}

div[buttons] > div:hover {
    background: var(--hover);
}

div#quit {
    background: var(--red);
}

/* Toggle mode. */
label {
    display: flex;
    white-space: nowrap;
    user-select: none;
    margin-bottom: 5px;
    width: min-content;
}

label:not([lock]) span {
    cursor: pointer;
    width: 35px;
    height: 21px;
    background-color: var(--elements);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 3px;
    margin-right: 5px;
}

label:not([lock]) span:before {
    content: " ";
    height: 15px;
    width: 15px;
    display: block;
    margin: 3px 4px;
    left: 3px;
    bottom: 3px;
    background: var(--background);
    transition: 0.2s;
    border-radius: 3px;
}

label input {
    display: none;
}

input:checked + span {
    background: var(--green);
}

input:checked + span:before {
    transform: translateX(12px);
}

label[lock] input:checked + span {
    background: var(--red);
}

label[lock] input + span {
    background: var(--green);
}

label.disabled {
    pointer-events: none;
    opacity: 0.5;
}

label.disabled div[info] {
    pointer-events: auto;
}

label p {
    margin: auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 21px;
}

label[lock] span {
    margin: 0;
    width: 35px;
    line-height: 1;
    height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--elements);
    border-radius: 3px;
    margin-right: 5px;
    cursor: pointer;
}

label div[info]:after {
    display: flex;
    align-items: center;
    justify-content: center;
    content: "?";
    margin-left: 2px;
    font-weight: bold;
    color: var(--background);
    padding: 3px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    font-size: 10px;
    background: var(--blue);
}

/* Input styles. */
div[interact] {
    margin: 1px 0 0 5px;
}

div[interact] > div {
    margin-bottom: 5px;
}

div[bar] {
    display: flex;
    height: 20px;
    justify-content: left;
    align-items: center;
}

div[interact] p {
    font-weight: bold;
    margin: 0;
    white-space: nowrap;
}

div[bar]:after {
    content: "\276F";
    background: inherit;
    pointer-events: none;
    padding: 0 6px;
    border-radius: 0 5px 5px;
    margin: 1px 2px 0 -21px;
    transform: rotate(90deg);
    color: var(--color);
}

div[dropdown]:after {
    display: none;
}

div[selection] input:focus {
    border-radius: 3px 3px 0 0;
}

div[bar] input:focus {
    outline: none;
}

div[bar] input {
    border: 0;
    border-radius: 3px;
    padding: 1px 20px 1px 5px;
    height: 20px;
    width: calc(100% - 30px);
    margin-left: 5px;
    background: var(--elements);
    color: var(--color);
}

div[selection] {
    width: 100%;
}

div[slider] p {
    padding-bottom: 15px;
}

input[type="range"] {
    width: calc(100% - 5px);
    -webkit-appearance: none;
    background: var(--green);
    border-radius: 2px;
    border: none;
    margin-bottom: 10px;
}

input[type="range"]::-webkit-slider-runnable-track {
    height: 5px;
    -webkit-appearance: none;
    margin-top: -1px;
}

input[type="range"]::-webkit-slider-thumb {
    width: 15px;
    -webkit-appearance: none;
    margin-top: -5px;
    height: 15px;
    overflow: visible;
    cursor: ew-resize;
    background: var(--elements);
    border-radius: 3px;
}

input[type="range"]:before {
    content: "4";
    position: absolute;
    margin: -22px 0 0 4px;
    color: var(--color);
}

input[type="range"]:after {
    content: "14";
    position: absolute;
    margin: -22px 9px 0 0;
    right: 0;
    color: var(--color);
}

div[dropdown] {
    transition-duration: 100ms;
    font-size: 13px;
    display: none;
    position: absolute;
    z-index: 1;
    background-color: var(--elements);
    max-height: 135px;
    width: 132px;
    border-radius: 0 0 3px 3px;
    margin: 0 4px;
    padding: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid var(--background);
    border-top: 1px solid var(--hover);
}

div[dropdown] div {
    white-space: nowrap;
    overflow-y: hidden;
    text-overflow: ellipsis;
    margin-block-end: 0;
    margin-block-start: 0;
    padding: 3px 0 3px 5px;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;
}

div[dropdown] div:hover {
    background: var(--hover);
}

div.fade {
    max-height: 0;
}
